


// HERO


.hero{
    color: $branco-px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1{
        text-align: center;
        line-height: 120%;
        max-width: 940px;
        font-size: 46px;
    }

    p{
        text-align: center;
        margin: 14px 0;
        font-size: 16px;
    }
}




.button-contact{
    padding: 14px 28px;
    color: $branco-px;
    background-color: $laranja-px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}


/*

.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $branco-px;
    padding: 14px;

    h1{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }

    p{
        text-align: center;
        margin: 14px 0;
    }
}

.button-contact{
    padding: 14px 28px;
    color: $branco-px;
    background-color: $laranja-px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

*/



//----------------------------------

